<div class="container">
  <div class="row">
    <div class="visible-md visible-lg col-md-12 col-lg-12">
      <%= image_tag("course_banner.png", :alt => "Course Banner", :class => "course_banner") %>
    </div>
    
    <div class="small_screen">
    <div class="visible-sm visible-xs col-sm-12 col-xs-12">
      <%= image_tag("course-banner-small.png", :alt => "Course Banner", :class => "course_banner") %>
    </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-lg-12">
      <h1 class="course">Develop a </h1> <h1 id="strong"> personal financial strategy </h1> <h1 class="course">that you can believe in; Understand how to </h1><h1 id="strong">  increase your financial position </h1>; <h1 id="strong"> Stop worrying </h1> <h1 class="course">about money; </h1><h1 id="strong">  Feel confident in your future </h1> 
    </div>
  </div>  
<br /><br />
  
  <div class="row">
    <div class="col-md-12 col-lg-12">
      <h1 id="strong">Week 1: Get in the right mindset </h1><h1 class="course"> - in order to make drastic changes, you must have the right motivation.  The first week of the course focuses on identifying what has held you back in the past, drives you to identify specific and tangible goals for the next 5 weeks, and provides you the resources you need to take the first step!"</h1><br />
      <h1 id="strong">Week 2: Establishing a baseline</h1><h1 class="course"> - the second week, we jump right in!  I work with you to understand your current situation in real terms - net worth and monthly income vs. expenses.</h1><br />
      <h1 id="strong">Week 3: Developing a budget that you can sustain</h1><h1 class="course"> - now that you understand how much you have coming in vs. going out, I work with you to develop a personalized budget that makes sense for you.</h1><br />      
      <h1 id="strong">Week 4: Insurance & Extra ways to save - </h1><h1 class="course">Even when you don't think there is any extra money, it's likely that you can find some hiding somewhere.  This week we focus on making sure you have the right insurance in place and then learn little tips and tricks to save money you didn't even realize you had! We also discuss long-term/retirement savings and how to accurately assess your needs in retirement.</h1><br />      
      <h1 id="strong">Week 5: Reflection, Congratulations, and Next Steps -</h1><h1 class="course"> You've made it!!  We wrap up with some reflection and take time to realize and be proud of how much we've accomplished these past five weeks.  But, the journey doesn't stop here!  At the end of the course, I provide you ongoing resources to utilize as you continue on your path towards financial independence!</h1><br />      
    </div>
  </div>
  
<div class="row">
  <div class="col-md-12 col-lg-12">
    <h3 class="main_subheader">
      Yes, all of this is 100% FREE!  What do you have to lose?  
    </h3>
  </div>
  </div>
  
<div class="row">
  <div class="col-md-12 col-lg-12">
<!-- Begin MailChimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{
    background:#fff; 
    clear:left; 
    font:14px Helvetica,Arial,sans-serif; 
  }
  
  #mc_embed_signup label { 
    text-align: center;
  }
  
    #mc_embed_signup input.button {
      margin: 0 auto;
      
    }
  
  #mc_embed_signup input.email {
    margin: 0 auto;
    margin-bottom: 10px;
  }
	/* Addyour own MailChimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="//happyhealthywealthy.us10.list-manage.com/subscribe/post?u=f99a8de8f49f7e3b52c765fec&amp;id=8c5a26c286" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
	<label for="mce-EMAIL">FREE 5-Week Mini-Course Sign-up!  No obligation - opt out at any time!</label>
	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;"><input type="text" name="b_f99a8de8f49f7e3b52c765fec_8c5a26c286" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div>

<!--End mc_embed_signup-->
  </div>
  </div>
</div>



