<div class="container">
  <div class="row">
    <div class="visible-md visible-lg col-md-12 col-lg-12">
      <%= image_tag("work.png", :alt => "Work Banner", :class => "course_banner") %>
    </div>
    
    <div class="small_screen">
    <div class="visible-sm visible-xs col-sm-12 col-xs-12">
      <%= image_tag("hire_small.png", :alt => "Work Banner", :class => "course_banner") %>
    </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-lg-12">
      <h1 class="course">Interested in personalized strategies?</h1>
    </div>
  </div>
  
    <div class="row">
    <div class="col-md-12 col-lg-12">
      <h1 class="course"><a href="https://docs.google.com/forms/d/1KKqIYTESpxapMhBG6kykEetk42XYujsAdTcb-xe82TM/viewform?usp=send_form">Complete this application to work with me</a></h1>
    </div>
  </div>
      
   <div class="row">
    <div class="col-md-12 col-lg-12">
      <h1 class="course">I am only available to work 1:1 with a limited number of clients, and I ask that everyone who is interested fill out the above application to ensure that we are a good fit for each other.</h1>
    </div>
  </div>
  
   <div class="row">
    <div class="col-md-12 col-lg-12">
      <h1 class="course">If you're worried or wondering about cost, I work out future payment plans for each client.  I do not take any money up-front as this would be counter-productive!</h1>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-12 col-lg-12">
      <h1 class="course">If you have any questions, <a href="mailto: jkent2910@gmail.com">E-mail me</a></h1>
    </div>
  </div>