
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 col-xs-12 col-md-8 col-md-offset-2">
      <div class="small_screen">
      <h2 class="heading">Welcome to my blog!</h2>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-xs-12 col-md-8 col-md-offset-2">
   
      <h3 class="idea"> Have an idea for a post?  <a href="mailto:jkent2910@gmail.com>">E-mail me!</a> </h3>
   
    </div>
  </div>
  <% @posts.each_slice(3).each do |posts| %>
  <div class="row">
      <% posts.each do |post| %>
      <div class="col-md-4 col-lg-4">
        <div class="post">
          <div class="img_wrapper">
            <%= link_to post do %>
            <%= image_tag post.image.url(:medium), :class => "blog_img" %> 
            <% end %>
          </div> <!--- image wrapper ---->
            <h2> <%= link_to post.title, post %> </h2>
                <h4>
                Tag: <%= post.categories.map { |category| link_to category.name, category_path(category.id)}.join(', ').html_safe %> 
                </h4>
        </div> <!---- post ----->
      </div> <!---- col-md-4 ---->
            <% end %>

  </div> <!----- row ---->
<% end %>
</div> <!----- container-fluid ----->