* {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased
 }

@mixin box-shadow {
	-webkit-box-shadow: rgba(142, 214, 172, 0.09) 0 2px 0;
	-moz-box-shadow: rgba(142, 214, 172, 0.09) 0 2px 0;
	box-shadow: rgba(142, 214, 172, 0.09) 0 2px 0;
}

body {
  padding:100px;
}

a.footer_bottom{
  font-family: 'Comfortaa', cursive;
  color: #FFFFFF;
  a.footer_bottom:hover {
    color: #FFFFFF;
  }
}

h1.main_header {
  font-family: 'Comfortaa', cursive;
	font-weight: 700;
  letter-spacing: 2px;
  color: #6961FF;
}

h3.main_subheader {
  font-family: 'Comfortaa', cursive;
  font-size: 36px;
  color: #6961FF;
}

h3.main_posts {
  font-family: 'Comfortaa', cursive;
  font-size: 32px;
  color: #056E00;
  text-align: center;
}

h3.thanks {
  font-family: 'Comfortaa', cursive;
  font-size: 32px;
  color: #6961FF;
  text-align: center;
}

p.strong-cursive {
  font-family: 'Indie Flower', cursive;
  font-size: 48px;
  color: #FF0054;
  text-align: center;
}

img.name_banner {
  width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
  background-image: url("background_skin.png");
  margin-bottom: 50px;
}

.post {
	background: white;
	border-radius: 5px;
	margin-bottom: 40px;
	@include box-shadow;
  font-family: 'Comfortaa', cursive;
  color: #FF0054;
}

p#short {
  display:none;
}

p#long {
  display:none;
}

h2.heading {
  font-family: 'Indie Flower', cursive;
  font-size: 48px;
  color: orange;
  text-align: center;
}

h2 {
  font-family: 'Oxygen', sans-serif;
  font-size: 24px;
  text-align: center;
}

h2#story {
  font-family: 'Oxygen', sans-serif;
  font-size: 22px;
  color: orange;
  text-align: center;
  border-bottom: 1px solid #B9DB89;
}

h3.recent {
  font-family: 'Indie Flower', cursive;
  font-size: 32px;
  color: orange;
  text-align: center;
}

h3.blog-time {
  font-family: 'Indie Flower', cursive;
  font-size: 28px;
  color: orange;
  text-align: center;
  border-bottom: 1px solid #B9DB89;
}

p.front-text {
  font-family: 'Oxygen', sans-serif;
  padding-top: 10px;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 1.25px;
}

.navbar {
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar-default {
  background-color: #6961FF !important;
  border-bottom: 1px solid #B9DB89;
}

.navbar-default .navbar-brand {
  color: #FFFFFF !important;
}

.navbar-default .navbar-nav > li > a {
  color: #FFFFFF !important;
  font-family: 'Oxygen', sans-serif;
}

.navbar-default .navbar-nav > li > a:hover {
  text-decoration: underline;
  color: #FFFFFF !important;
}

.image_wrapper {
		max-width: 100%;
		border-radius: 5px 5px 0 0;
		overflow: hidden;
	}
	.blog_img {
		width: 100%;
		-webkit-transition: all .3s ease-out;
	  -moz-transition: all .3s ease-out;
	  -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
		&:hover {
			transform: scale(1.075);
		}
  }

.graphic-wrap {
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-right: 5px;
  padding-left: 5px;
  border: 2px solid #FF0054;
  border-radius: 25px;
  background-image: url("background_skin.png");
}

.blog-sidebar {
  margin-bottom: 100px;
}

.comment-wrapper {
  border: 1px solid #B9DB89;
}

.rating-wrapper {
  border: 1px solid #B9DB89;
}

.blog-footer {
padding: 40px 0;
text-align: center;
background-color: #6961FF !important;
border-bottom: 1px solid #B9DB89;
border-top: 1px solid #e5e5e5;
font-family: 'Comfortaa', cursive;
color: #FFFFFF;
}

.mini_course {
  margin-top: 15px;
  margin-bottom: 15px;
}

.bottom_front {
  margin-top: 50px;
  margin-bottom: 50px;
}