* {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased
 }

@mixin box-shadow {
	-webkit-box-shadow: rgba(142, 214, 172, 0.09) 0 2px 0;
	-moz-box-shadow: rgba(142, 214, 172, 0.09) 0 2px 0;
	box-shadow: rgba(142, 214, 172, 0.09) 0 2px 0;
}

body {
  padding:100px;
}

a.footer_bottom{
  font-family: 'Comfortaa', cursive;
  color: #FFFFFF;
  a.footer_bottom:hover {
    color: #FFFFFF;
  }
}

h1.main_header {
  font-family: 'Comfortaa', cursive;
	font-weight: 700;
  letter-spacing: 2px;
  color: #6961FF;
}

h3.main_subheader {
  font-family: 'Comfortaa', cursive;
  font-size: 36px;
  color: #6961FF;
}

h3.main_posts {
  font-family: 'Comfortaa', cursive;
  font-size: 32px;
  color: #056E00;
  text-align: center;
}

h3.thanks {
  font-family: 'Comfortaa', cursive;
  font-size: 32px;
  color: #6961FF;
  text-align: center;
}

h2.post_title {
  font-family: 'Comfortaa', cursive;
  font-size: 18px;
  color: #056E00;
  text-align: center;
}

h1.course {
  font-family: 'Comfortaa', cursive;
  font-size: 24px;
  font-weight: 700;
  color: #6961FF;
  text-align: center;
}

h1.big {
  font-family: 'Comfortaa', cursive;
  font-size: 48px;
  font-weight: 700;
  color: orange;
  text-align: center;
}

h3.idea {
  font-family: 'Comfortaa', cursive;
  font-size: 32px;
  color: #FF0054;
  text-align: center;
}

h5.small_heading {
  font-family: 'Comfortaa', cursive;
  font-size: 18px;
  color: #056E00;
  text-align: center;
}

p.strong-cursive {
  font-family: 'Indie Flower', cursive;
  font-size: 48px;
  color: #FF0054;
  text-align: center;
}

p.signature {
  font-family: 'Indie Flower', cursive;
  font-size: 48px;
  color: #FF0054;
}

img.name_banner {
  width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
  background-image: url("background_skin.png");
  margin-bottom: 50px;
}

.post {
	background: white;
	border-radius: 5px;
	margin-bottom: 40px;
	@include box-shadow;
  font-family: 'Comfortaa', cursive;
  color: #FF0054;
}

p#short {
  display:none;
}

p#long {
  display:none;
}

h2.heading {
  font-family: 'Comfortaa', cursive;
  font-size: 48px;
  color: #6961FF;
  text-align: center;
}

h2 {
  font-family: 'Oxygen', sans-serif;
  font-size: 24px;
  text-align: center;
}

h2#story {
  font-family: 'Oxygen', sans-serif;
  font-size: 22px;
  color: #FF0054;
  text-align: center;
  letter-spacing: 1.5px;
  line-height: 125%;
  border-bottom: 1px solid #B9DB89;
  margin-bottom: 25px;
}

p.small-text {
  font-family: 'Comfortaa', cursive;
  font-size: 14px;
  padding: 20px;
  color: #6961FF;
  float: right;
}

img.img-center {
  vertical-align: middle;
}

.img-for-small {
  position: relative;
  left: -150px;
}

.front_small {
  padding: 75px;
}
h3.recent {
  font-family: 'Indie Flower', cursive;
  font-size: 32px;
  color: orange;
  text-align: center;
}

h3.blog-time {
  font-family: 'Indie Flower', cursive;
  font-size: 28px;
  color: orange;
  text-align: center;
  border-bottom: 1px solid #B9DB89;
}

p.front-text {
  font-family: 'Oxygen', sans-serif;
  padding-top: 10px;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 1.25px;
}

.navbar {
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar-default {
  background-color: #6961FF !important;
  border-bottom: 1px solid #B9DB89;
}

.navbar-default .navbar-brand {
  color: #FFFFFF !important;
}

.navbar-default .navbar-nav > li > a {
  color: #FFFFFF !important;
  font-family: 'Oxygen', sans-serif;
}

.navbar-default .navbar-nav > li > a:hover {
  text-decoration: underline;
  color: #FFFFFF !important;
}

.image_wrapper {
		max-width: 100%;
		border-radius: 5px 5px 0 0;
		overflow: hidden;
	}
	.blog_img {
		width: 100%;
		-webkit-transition: all .3s ease-out;
	  -moz-transition: all .3s ease-out;
	  -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
		&:hover {
			transform: scale(1.075);
		}
  }

.graphic-wrap {
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-right: 5px;
  padding-left: 5px;
  border: 2px solid #FF0054;
  border-radius: 25px;
  background-image: url("background_skin.png");
}

.blog-sidebar {
  margin-bottom: 100px;
}

.comment-wrapper {
  border: 1px solid #056E00;
  padding: 5px;
  margin-bottom: 10px;
}

.rating-wrapper {
  border: 1px solid #B9DB89;
}

.blog-footer {
padding: 40px 0;
text-align: center;
background-color: #6961FF !important;
border-bottom: 1px solid #B9DB89;
border-top: 1px solid #e5e5e5;
font-family: 'Comfortaa', cursive;
color: #FFFFFF;
}

.mini_course {
  margin-top: 15px;
  margin-bottom: 15px;
}

.bottom_front {
  margin-top: 50px;
  margin-bottom: 50px;
}

.photo_me {
  margin-bottom: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto 
}

.row_space {
  margin-bottom: 50px;
}

.mini_course_sidebar {
  border: 2px solid #FF0054;
  border-radius: 25px;
  margin-bottom: 10px;
}

.comments {
  margin-top: 50px;
}

.comment_header {
  color: #6961FF !important;
  font-family: 'Oxygen', sans-serif;
  letter-spacing: 2px;
  font-weight: 700;
}

.p_normal {
  color: #FF0054 !important;
  font-family: 'Oxygen', sans-serif;
  letter-spacing: 2px;
}

.p_heading {
  color: #FF0054 !important;
  font-family: 'Oxygen', sans-serif;
  letter-spacing: 2px;
  font-weight: 900;
}


@media only screen and (max-width: 750px) {
  h1.main_header, h3.main_subheader, h3.thanks, p.strong-cursive, h3.main_posts, h2.post_title,  {
    font-size: 1.2em;
  }
  
  h2.heading, h3.idea {
    font-size: 2.5em;
  }
  
  p.front-text {
    font-size: 1em;
  }
  
  h2#story {
    font-size: 1em;
  }
  
  body {
    padding: 0;
  }
  
  .small_screen {
    margin-top: 100px !important;
  }
  
}