<h1><%= @category.name %> Posts</h1>
<h3>There are <%= @category.posts.count %> posts filed under <%= @category.name %></h3>
<ul>
	<% @category.posts.order(:title).each do |post| %>
		<h4>
	  	<%= link_to post.title, post %>
	  </h4>
	<% end %>
</ul>